
OpenGLESApp1/ARM/Debug/libOpenGLESApp1.so.recipe

OpenGLESApp1/ARM/Debug/OpenGLESApp1.apk.recipe

OpenGLESApp1/ARM/Debug/libOpenGLESApp1.so

OpenGLESApp1/ARM/Debug/OpenGLESApp1.apk.recipe.merged

OpenGLESApp1/ARM/Debug/Package/androidmanifest.xml

OpenGLESApp1/ARM/Debug/Package/build.xml

OpenGLESApp1/ARM/Debug/Package/libs/armeabi-v7a/gdbserver

OpenGLESApp1/ARM/Debug/Package/libs/armeabi-v7a/libgnustl_static.a

OpenGLESApp1/ARM/Debug/Package/libs/armeabi-v7a/libOpenGLESApp1.so

OpenGLESApp1/ARM/Debug/Package/project.properties

OpenGLESApp1/ARM/Debug/Package/res/values/strings.xml

OpenGLESApp1/x86/Debug/.gdb/app_process

OpenGLESApp1/x86/Debug/.gdb/libc.so

OpenGLESApp1/x86/Debug/.gdb/linker

OpenGLESApp1/x86/Debug/libOpenGLESApp1.so

OpenGLESApp1/x86/Debug/libOpenGLESApp1.so.recipe

OpenGLESApp1/x86/Debug/OpenGLESApp1.apk

OpenGLESApp1/x86/Debug/OpenGLESApp1.lastsuccessfuldeploy

OpenGLESApp1/x86/Debug/Package/bin/AndroidManifest.xml.d

OpenGLESApp1/x86/Debug/Package/androidmanifest.xml

OpenGLESApp1/x86/Debug/OpenGLESApp1.apk.recipe.merged

OpenGLESApp1/x86/Debug/Package/bin/build.prop

OpenGLESApp1/x86/Debug/Package/bin/AndroidManifest.xml

OpenGLESApp1/x86/Debug/Package/bin/OpenGLESApp1.Android.Packaging-debug-unaligned.apk.d

OpenGLESApp1/x86/Debug/Package/bin/OpenGLESApp1.Android.Packaging-debug-unaligned.apk

OpenGLESApp1/x86/Debug/Package/bin/OpenGLESApp1.Android.Packaging.ap_

OpenGLESApp1/x86/Debug/Package/bin/OpenGLESApp1.Android.Packaging.ap_.d

OpenGLESApp1/x86/Debug/OpenGLESApp1.apk.recipe

OpenGLESApp1/OpenGLESApp1/OpenGLESApp1.Android.NativeActivity/ARM/Debug/android_native_app_glue.o

OpenGLESApp1/OpenGLESApp1/OpenGLESApp1.Android.NativeActivity/ARM/Debug/Cube.o

OpenGLESApp1/OpenGLESApp1/OpenGLESApp1.Android.NativeActivity/ARM/Debug/libOpenGLESApp1.so

*.tlog

*.o

OpenGLESApp1/OpenGLESApp1/OpenGLESApp1.Android.NativeActivity/ARM/Debug/pch.h.gch

*.log

OpenGLESApp1/OpenGLESApp1/OpenGLESApp1.Android.NativeActivity/x86/Debug/libOpenGLESApp1.so

OpenGLESApp1/OpenGLESApp1/OpenGLESApp1.Android.NativeActivity/x86/Debug/pch.h.gch

OpenGLESApp1/OpenGLESApp1/OpenGLESApp1.Android.Packaging/obj/x86/Debug/GenerateAndroidAntScript.incremental

OpenGLESApp1/OpenGLESApp1/OpenGLESApp1.Android.Packaging/obj/ARM/Debug/GenerateAndroidAntScript.incremental

OpenGLESApp1/OpenGLESApp1/OpenGLESApp1.Android.Packaging/obj/ARM/Debug/.unsuccessfulbuild

OpenGLESApp1/OpenGLESApp1/OpenGLESApp1.Android.Packaging/obj/x86/Debug/OpenGLESApp1.Android.Packaging.androidproj.FileListAbsolute.txt

OpenGLESApp1/OpenGLESApp1/OpenGLESApp1.iOS.Application/build/Debug-iphonesimulator/OpenGLESApp1.app.dSYM/Contents/Info.plist

OpenGLESApp1/OpenGLESApp1/OpenGLESApp1.iOS.Application/build/Debug-iphonesimulator/OpenGLESApp1.app.dSYM/Contents/Resources/DWARF/OpenGLESApp1

OpenGLESApp1/OpenGLESApp1/OpenGLESApp1.iOS.Application/build/Debug-iphonesimulator/OpenGLESApp1.app/Info.plist

OpenGLESApp1/OpenGLESApp1/OpenGLESApp1.iOS.Application/build/Debug-iphonesimulator/OpenGLESApp1.app/Main.storyboardc/BV1-FR-VrT-view-3se-qz-xqx.nib

OpenGLESApp1/OpenGLESApp1/OpenGLESApp1.iOS.Application/build/Debug-iphonesimulator/OpenGLESApp1.app/Main.storyboardc/Info.plist

OpenGLESApp1/OpenGLESApp1/OpenGLESApp1.iOS.Application/build/Debug-iphonesimulator/OpenGLESApp1.app/Main.storyboardc/UIViewController-BV1-FR-VrT.nib

OpenGLESApp1/x86/Debug/Package/build.xml

OpenGLESApp1/x86/Debug/Package/libs/x86/gdbserver

OpenGLESApp1/x86/Debug/Package/libs/x86/libgnustl_static.a

OpenGLESApp1/x86/Debug/Package/libs/x86/libOpenGLESApp1.so

OpenGLESApp1/x86/Debug/Package/project.properties

OpenGLESApp1/x86/Debug/Package/res/values/strings.xml

OpenGLESApp1/OpenGLESApp1/OpenGLESApp1.iOS.Application/build/OpenGLESApp1.iOS.Application.build/Debug-iphonesimulator/OpenGLESApp1.build/OpenGLESApp1.hmap

OpenGLESApp1/OpenGLESApp1/OpenGLESApp1.iOS.Application/build/OpenGLESApp1.iOS.Application.build/Debug-iphonesimulator/OpenGLESApp1.build/OpenGLESApp1-project-headers.hmap

OpenGLESApp1/OpenGLESApp1/OpenGLESApp1.iOS.Application/build/OpenGLESApp1.iOS.Application.build/Debug-iphonesimulator/OpenGLESApp1.build/OpenGLESApp1-own-target-headers.hmap

OpenGLESApp1/OpenGLESApp1/OpenGLESApp1.iOS.Application/build/OpenGLESApp1.iOS.Application.build/Debug-iphonesimulator/OpenGLESApp1.build/OpenGLESApp1-generated-files.hmap

OpenGLESApp1/OpenGLESApp1/OpenGLESApp1.iOS.Application/build/OpenGLESApp1.iOS.Application.build/Debug-iphonesimulator/OpenGLESApp1.build/OpenGLESApp1-all-target-headers.hmap

OpenGLESApp1/OpenGLESApp1/OpenGLESApp1.iOS.Application/build/OpenGLESApp1.iOS.Application.build/Debug-iphonesimulator/OpenGLESApp1.build/OpenGLESApp1-all-non-framework-target-headers.hmap

OpenGLESApp1/OpenGLESApp1/OpenGLESApp1.iOS.Application/build/OpenGLESApp1.iOS.Application.build/Debug-iphonesimulator/OpenGLESApp1.build/Objects-normal/x86_64/OpenGLESApp1.LinkFileList

OpenGLESApp1/OpenGLESApp1/OpenGLESApp1.iOS.Application/build/OpenGLESApp1.iOS.Application.build/Debug-iphonesimulator/OpenGLESApp1.build/Objects-normal/i386/OpenGLESApp1.LinkFileList

OpenGLESApp1/OpenGLESApp1/OpenGLESApp1.iOS.Application/build/OpenGLESApp1.iOS.Application.build/Debug-iphonesimulator/OpenGLESApp1.build/Objects-normal/i386/OpenGLESApp1_dependency_info.dat

OpenGLESApp1/OpenGLESApp1/OpenGLESApp1.iOS.Application/build/OpenGLESApp1.iOS.Application.build/Debug-iphonesimulator/OpenGLESApp1.build/Objects-normal/i386/main.dia

*.d

*.dia

OpenGLESApp1/OpenGLESApp1/OpenGLESApp1.iOS.Application/build/OpenGLESApp1.iOS.Application.build/Debug-iphonesimulator/OpenGLESApp1.build/Main-SBPartialInfo.plist

OpenGLESApp1/OpenGLESApp1/OpenGLESApp1.iOS.Application/build/OpenGLESApp1.iOS.Application.build/Debug-iphonesimulator/OpenGLESApp1.build/dgph

OpenGLESApp1/OpenGLESApp1/OpenGLESApp1.iOS.Application/build/OpenGLESApp1.iOS.Application.build/Debug-iphonesimulator/OpenGLESApp1.build/assetcatalog_generated_info.plist

OpenGLESApp1/OpenGLESApp1/OpenGLESApp1.iOS.Application/build/OpenGLESApp1.iOS.Application.build/Debug-iphonesimulator/OpenGLESApp1.build/assetcatalog_dependencies.txt

OpenGLESApp1/OpenGLESApp1/OpenGLESApp1.iOS.Application/build/Debug-iphonesimulator/OpenGLESApp1.app/PkgInfo

OpenGLESApp1/OpenGLESApp1/OpenGLESApp1.iOS.Application/build/Debug-iphonesimulator/OpenGLESApp1.app/OpenGLESApp1
